<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= product.name %>
    </title>
</head>

<body>
    <h1>
        <%= product.name %>
    </h1>
    <ul>
        <li>
            $<%= product.price %>
        </li>
        <li>
            category: <a href="/products?category=<%= product.categories %>">
                <%= product.categories %>
            </a>
        </li>
    </ul>
    <a href="/products">all products</a>
    <a href="/products/<%= product._id %>/edit">edit products</a>
    <form action="/products/<%= product._id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
</body>

</html>