<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEARCHING <%= search %>
    </title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1>
        We are discussing <b>
            <%= name %>
        </b>
    </h1>
    <h2>
        Subscribers: <%= subscribers %>
    </h2>
    <p>
        <%= description %>
    </p>
    <hr>
    <ul>
        <% for (let post of posts) { %>
            <li>
                <p>
                    <%= post.title %> - <b>
                            <%= post.author %>
                        </b>
                </p>
                <% if (post.img) { %>
                    <img src="<%= post.img %>" alt="Post Image">
                    <% } %>
            </li>
            <% } %>
    </ul>

</body>

</html>